.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}
.card__image {
  width: 282px;
  height: 282px;
}
.card__image:hover {
  cursor: pointer;
}
.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card__description {
  display: flex;
  background: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
.card__like-button_active {
  background-image: url(../images/like-active.svg);
}
.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.card__trash-button {
  background: transparent url(../images/trash.svg);
  position: absolute;
  right: 15px;
  top: -265px;
  width: 18px;
  height: 20px;
  border: none;
}
.card__trash-button:hover {
  opacity: 0.5;
  cursor: pointer;
}